{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="students">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='http://code.jquery.com/jquery-1.7.1.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{#    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>#}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/student.js" %}"></script>


    <title>Students</title>
</head>
    <body ng-controller="StudentsController as student">
        <header>
            <h1 class="text-center">Group list</h1>
        </header>


        {% block students %}
        {% endblock %}

    <div ng-controller="GroupsController as group">

        {% block groups %}
        {% endblock %}

    </div>

    </body>
</html>