{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="students">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='http://code.jquery.com/jquery-1.7.1.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{#    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>#}
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/all.css" %}">
    <script src="{% static "js/angular-cookie.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/student.js" %}"></script>
    <script src="{% static "js/jsboot.js" %}"></script>
    <title>Students</title>
</head>
    <body ng-controller="StudentsController as student">
        <nav class="'navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" ng-controller="GroupsController">
                        <li><a href="#" ng-click="showAddForm(group)">Add new group</a></li>
                        <li><a href="#" ng-click="showAddStudentForm(student)">Add new student</a></li>
                        <li></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                         {% if user.is_authenticated %}
                            <li>
                                <a href="#">{{ user }} ( DEBUG={{ settings.DEBUG }} )</a>
                            </li>
                            <li><a href="/accounts/logout/">Log Out</a></li>
                        {% else %}
                            <li><a href="/accounts/login/">Log In</a></li>
                            <li><a href="/registration/">Registration</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
            <div class="page-header">
                <h1></h1>
            </div>

        {% block students %}
        {% endblock %}

    <div>

        {% block groups %}
        {% endblock %}

    </div>
    {% block main %}
    {% endblock %}
    </body>
</html>