{% extends 'base.html'%}

{% block main %}

    <div class="container theme-showcase">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Second Name</th>
                            <th>Birthday date</th>
                            <th>Card id</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student in studentgroup.student_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.second_name }}</td>
                            <td>{{ student.birth_date }}</td>
                            <td>{{ student.student_card }}</td>
                            <td><a href="{% url "student_detail" student.id %}">Detail</a></td>
                            <td>
                                <a href="{% url 'student_edit' student.id %}">
                                    Edit student profile?
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}